<h1 class="headline">Bienvenue sur notre page d'accueil</h1>

<section class="presentation main-content">
    <article class="tertiary-content">
        <h2 class="headline">Qui suis-je ?</h2>
        <p class="paragraph">Tout d'abord bonjour. Je suis Blexane et je suis nail artiste, j'ai découvert ma passion pour le nail art dès mon enfance, en explorant la créativité à travers les couleurs et les motifs. J'ai perfectionné mes compétences en participant à des formations et en pratiquant constamment. Ce qui me passionne dans le nail art, c'est la possibilité de transformer les ongles en véritables œuvres d'art, en reflétant la personnalité et le style de mes clients. Chaque jour, je suis inspirée par les tendances de la mode et l'art contemporain, et je trouve une immense satisfaction à voir mes clients sourire lorsqu'ils découvrent leurs ongles décorés. Le nail art est bien plus qu'un métier pour moi, c'est une passion qui me permet de m'exprimer et de partager ma vision artistique avec le monde. Je suis reconnaissante chaque jour de pouvoir exercer cette activité qui me passionne tant.</p>
    </article>
    <aside>
        <img [src]='photoBlexane' alt="Une nail artiste qui est en train de travailler, elle tient la main de la cliente en face d'elle pour lui faire les ongles." class="illustration">
    </aside>
</section>

<section class="details main-content">
    <aside>
        <img [src]='blexaneChrome' alt="Une nail artiste qui est en train de travailler, elle tient la main de la cliente en face d'elle pour lui faire les ongles." class="illustration">
    </aside>
    <article class="secondary-content">
        <h2 class="headline">Horaires</h2>
        <ul class="list">
            <li>Lundi, Mercredi et Jeudi: 9h-12h30 / 14h-18h30</li>
            <li>Mardi et Vendredi: 12h30-20h non stop</li>
            <li>Je ne travaille pas le week-end</li>
        </ul>
    </article>
    <article class="tertiary-content" id="rendez-vous">
        <h2 class="headline">Règles</h2>
        <ul class="list">
            <li>Pour confirmer votre rendez-vous, envoyez-moi un message sur Instagram ou par téléphone (coordonnées en bas de page).</li>
            <li>Dans ce message, veuillez décrire la prestation souhaitée, je vous donnerai alors mes disponibilités.</li>
            <li>Vous pouvez annuler un rendez-vous au plus tard 48 heures avant celui-ci.</li>
            <li>Le jour du rendez-vous, merci de ne pas arriver en avance, ni en retard.</li>
            <li>Au-delà de 10 minutes de retard de votre part, le rendez-vous ne sera pas honoré.</li>
            <li>Les accompagnateurs et accompagnatrices sont autorisée, cependant les enfants et les animaux ne sont pas acceptés.</li>
        </ul>
    </article>
</section>